    <body class = "Creditos"
        <main class="Creditos-usuario"> 
            <section>
                <img src="~/Img/Gusa.png">
                <h3>Agustin Berenstein</h3>
                <p>Rol: Desarrollador Frontend</p>
            </section>
            <section>
                <img src="~/Img/Brian.png">
                <h3>Brian Huberman</h3>
                <p>Rol: Desarrollador Backend</p>
            </section>
            <section>
                <img src="~/Img/Santi.png">
                <h3>Santiago Solmesky</h3>
                <p>Rol: Diseñador UI/UX</p>
            </section>
             <section>
                <img src="~/Img/vini.png">
                <h3>Vinicius JR</h3>
                <p>Rol: Diseñador UI/UX</p>
            </section>
        </main>
    </body>
