@foreach (Deportista deportista in ViewBag.Deportista)
{
    <p>@deportista.Nombre</p>
    <p>@deportista.Apellido</p>
    <a href='@Url.Action("VerDetalleDeportista", new {idDeportista = ViewBag.Deportista.IdDeportista})'><img src="~/img/@deportista.Foto"></a>
    
}