<div class="container d-flex mt-5 mb-3">
    <div class="col-5">
        <b><h1 style="font-size: calc(1.5rem + 2vw)">JUEGOS OLIMPICOS</h1></b>
    </div>
    <div class="col-7">   
        <h3 style="font-size: calc(0.5rem + 0.8vw)">Los Juegos Olímpicos son la única competición verdaderamente global, multideportiva y que celebra el deporte en el mundo. Con más de 200 países que participan en más de 400 eventos entre los Juegos de Verano y de Invierno, los Juegos son donde todo el mundo acude a competir, a inspirarse y a estar juntos.</h3>
    </div>
</div>
<div class="fondo mt-5 d-flex align-items-center">
    <div class="col-sm12 ms-5">
        <div class="container text-white ms-5">
            <div class="col-12" >
                <h4 style="font-size: calc(1rem)">26 Julio - 11 Agosto</h4>
            </div>
            <div class="col-12">
                <h1 style="font-size: calc(2rem + 3vw)">PARIS 2024</h1>
            </div>
        </div>
    </div>
</div>