@foreach (Pais pais in ViewBag.Paises)
{
    <p>@pais.Nombre</p>
    <a href='@Url.Action("VerDetalleDeporte", new {idPais = pais.IdPais})'><img src="~/img/@pais.Bandera"></a>
    <p>@pais.FechaFundacion.ToShortDateString()</p>
}